<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/attach/attach.js"></script>
    <title>Mars Pirate </title>
    <style>
        body {
            background : #eee
        }
        #terminal {
            display : flex ; 
            justify-content: center;
            align-items: center;
        }
        #spacer {
            height: 160px;
        }

        #computer_background {
            background-image: url('https://raw.githubusercontent.com/paulio11/P3-Hangman-Python-Terminal-Game/main/assets/page-background.jpeg');
            background-position: top;
            background-repeat: no-repeat;
            height: 100vh;
        }

        #terminal {
            display: flex;
            justify-content: center;
            
        }


         /**
        * Default styles for xterm.js
        */

        .xterm {
            font-feature-settings: "liga" 0;
            position: relative;
            user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
        }

        .xterm.focus,
        .xterm:focus {
            outline: none;
        }

        .xterm .xterm-helpers {
            position: absolute;
            top: 0;
            /**
          * The z-index of the helpers must be higher than the canvases in order for
        * IMEs to appear on top.
        */
        z-index: 5;
        }
